<h2>鍵盤神手災情支援網您好</h2>

<table class="table table-bordered">

<table class="table table-hover">
    <thead>
      <tr>
        <th>文章標題</th>
        <th>發文時間</th>
        <th>編輯/修改</th>
        <th>刪除</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |p| %>
	      <tr>
	        <td><%= link_to p.title , p%></td>
	        <td><%= time_ago_in_words(p.created_at) %></td>
          <td><%= link_to "編輯" , edit_post_path(p , :page => params[:page]) %></td>
	        <td><%= button_to "刪除", post_path(p, :page => params[:page]),:method => :delete,:data => { :confirm => "確定要刪除嗎?" }%></td>
	      </tr>
	    <%end%>
    </tbody>
</table>

<%= link_to '鍵盤神手新增災情求助訊息請點這裡' ,new_post_path %>